<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="beanTemplate" abstract="true">
        <property name="message" value="Hello All!"/>
    </bean>

    <bean id="helloWorld" class="com.tutorialspoint.beans.test.HelloWorld" scope="singleton"
          init-method="init" destroy-method="destroy" parent="beanTemplate">
        <property name="others" value="Hello Others!"/>
        <constructor-arg index="0" ref="helloChild"/>
        <constructor-arg index="1" value="Child says hello!!"/>
        <property name="son" ref="helloSon"/>
        <property name="wife">
            <bean id="wife" class="com.tutorialspoint.beans.test.HelloWife"/>
        </property>
    </bean>

    <bean id="helloChild" class="com.tutorialspoint.beans.test.HelloChild"/>
    <bean id="helloSon" class="com.tutorialspoint.beans.test.HelloSon"/>

    <bean id="initBeans" class="com.tutorialspoint.beans.test.InitBeans"/>
    <bean id="javaCollection" class="com.tutorialspoint.beans.test.JavaCollection">
        <property name="addressList">
            <list>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </list>
        </property>
        <property name="addressSet">
            <set>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </set>
        </property>
        <property name="addressMap">
            <map>
                <entry key="1" value="INDIA"/>
                <entry key="2" value="Pakistan"/>
                <entry key="3" value="USA"/>
                <entry key="4" value="USA"/>
            </map>
        </property>
        <property name="addressProp">
            <props>
                <prop key="one">INDIA</prop>
                <prop key="two">Pakistan</prop>
                <prop key="three">USA</prop>
                <prop key="four">USA</prop>
            </props>
        </property>
    </bean>

    <bean id="autoWire" class="com.tutorialspoint.beans.test.AutoWire" autowire="constructor">
        <constructor-arg value="Wife is autowired by constructor"/>
        <property name="helloSon" ref="helloSon"/>
        <property name="message" value="Son is autowired by name"/>
    </bean>

    <bean id="helloWife" class="com.tutorialspoint.beans.test.HelloWife"/>

    <bean id="sampleAnnotation" class="com.tutorialspoint.beans.test.SampleAnnotation"/>

    <bean id="helloSon2" class="com.tutorialspoint.beans.test.HelloSon">
        <property name="text" value="helloSon2"/>
    </bean>

    <bean id="cStartEventHandler"
          class="com.tutorialspoint.beans.test.CStartEventHandler"/>

    <bean id="cStopEventHandler"
          class="com.tutorialspoint.beans.test.CStopEventHandler"/>
</beans>